.navbar-top{
    width: -webkit-fill-available;
    height: 60px;
    background-color: #d6e0e6;
    display: flex;
    justify-content: space-between;
}

.logout-button{
    width: auto;
    margin-right: 5px;
}

.title {
    width: auto;
    height: 50px;
    margin: 15px 0px 0px 15px;
}